@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');

$primary-color: #07070c;
$tertiary-color: #a10020;
$secondary-color: #f7f9f9;

header {
  nav {
    background-color: $primary-color;
    display: flex;
    justify-content: center;

    div {
      .navbar-brand {
        color: $secondary-color;
        font-family: 'Bruno Ace SC', cursive;

        span {
          color: $tertiary-color;
          font-size: 25px;
          font-family: 'Bruno Ace SC', cursive;
        }
      }

      .navbar-brand:hover {
        color: $secondary-color;
      }
    }
  }
}
